.name {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.025);
  padding: 1px 2px;
  font-family: monospace;
  font-size: 80%;
}

@media screen and (min-width: 768px) {
  .nameError {
    text-align: center;
    margin: 2.5% 50%;
  }
}
